/*Variables*/
$primary-color: #FFD700;
$text: black;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mon-header{
  background-color: $primary-color;
}
.mon-header *{
  color: $text;
}
.mon-header a {
  transition: .4s;
}
.mon-header a:hover{
  background-color: black !important;
  color: white;
}

.mon-table{
  border: 1px solid lightgrey;
}

.mon-table tbody{
  height: 20em;
  overflow: auto;
}

.mon-table tr{
  transition: .4s;
  height: 4em;
}

.mon-table tr:hover{
  cursor: pointer;
  background-color: $primary-color;
}
